PORT=3000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net
TMDB_API_KEY=your_tmdb_read_access_token
CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key
CLERK_SECRET_KEY=sk_test_your_clerk_secret_key
CLIENT_URL=http://localhost:5173
